h1,
h3,
h4,
h5,
h6 {
    font-family: "Playwrite FR Trad",
        cursive;
    color: purple;

}

h1[data-testid="slackDisplayName"] {
    margin-top: 1rem;
}

h2[data-testid="currentTimeUTC"] {
    font-family: "Playwrite FR Trad",
        cursive;
}

h2[data-testid="currentDay"] {
    font-family: "Ubuntu",
        sans-serif;
    font-size: 2.5rem;
    margin-top: -1rem;
    color: purple;
}

header,
main,
footer {
    max-width: 760px;
    margin: 1rem auto;
    border: 2px solid #bbb;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    background-color: rgba(243, 157, 157, 0.2);
}

span[data-testid="currentTimeUTC"] {
    display: block;
    font-family: "Playwrite FR Trad",
        cursive;
}



img[data-testid="slackProfilePicture"] {
    margin-bottom: 2rem;
    padding: .25rem;
}

nav a {
    display: block;
    text-decoration: none;
    margin-top: 1rem;
    margin-bottom: -1.5rem;
    font-family: "Playwrite FR Trad",
        cursive;
}

nav a:hover {
    color: purple;
    background-color: #fff;
    padding: .25rem .5rem;
    border-bottom: 2px solid purple;
}

ul {
    font-family: "Ubuntu",
        sans-serif;
}

p[data-testid="slackEmail"] {
    font-size: 1.5rem;
    margin-bottom: -1rem;
    font-weight: 600;
}

footer {
    font-family: "Playwrite FR Trad",
        cursive;
    font-weight: 600;
    padding: 1.5rem auto;
}



/* Desktop View */

@media screen and (min-width: 780px) {
    span {
        display: inline;
    }

    nav {
        display: flex;
        justify-content: space-around;
    }

    nav a {
        margin: 1rem 2rem;
        font-size: 1.25rem;
    }
}